.list_container {
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    margin: 0 10px;
    padding: 0;
}

.list_element {
    display: flex;
    align-items: center;
    background-color: #faf0ec;
    font-weight: bold;
    font-size: 14px;
    margin: 10px;
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.list_element span {
    color: #353535;
}

.item-enabled {
    pointer-events: none;
}

.item-enabled span {
    text-decoration: line-through;
}

.item-enabled .list_button {
    background-color: #353535;
}

.list_button {
    padding: 8px;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid #AAA5A5;
    background-color: #fff;
}

@media (min-width: 1024px) {
    .list_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
